<section class="items">
  <div class="name">
    Name: {{Object.name}}
  </div>
  <div class="description">
    Description: {{Object.description}}
  </div>
  <div class="quantity">
    Quantity: {{Object.quantity}}
  </div>
  <div class="condition">
    Condition: {{Object.condition}}
  </div>
</section>