<section class="items">
  <div class="name">
    {{Object.name}}
  </div>
  <div class="description">
    {{Object.description}}
  </div>
  <div class="quantity">
    {{Object.quantity}}
  </div>
  <div class="condition">
    {{Object.condition}}
  </div>
</section>