<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jaws</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Jaws Tech News</a>
      </h1>
    </header>
    <nav>
      {{#if loggedIn}}
      <a href="/dashboard">dashboard</a>
      <button id="logout" class="btn-no-style">logout</button>
      {{else}}
      <a href="/login">login</a>
      {{/if}}
    </nav>
    <main>
      {{{body}}}
    </main>
    <footer>Thanks for visiting!</footer>
  </div>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>