<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SWAP SQUAD</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a id="title" href="/">SWAP <span>SQUAD</span> <i class="material-icons">swap_horiz</i></a>
      </h1>
      <nav>
      {{#if loggedIn}}
      <a href="/">Feed</a>
      <a href="/my-stuff">My Stuff</a>
      <button id="logout" class="btn-no-style">Logout</button>
      {{else}}
      <a href="/login">login</a>
      {{/if}}
    </nav>
    </header>
    <main>
      {{{body}}}
    </main>
    <footer>
      <h1>Made with 🙃 by <span>TEAM CYBER MONKEY ATTACK!</span></h1>
    </footer>
  </div>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>