* {
  box-sizing: border-box;
}

:root {
  --blink-orange: #ff5100;
  --blink-peach: #f5ad7e;
  --blink-teal: #00f7ff;
  --blink-black: #000000;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  color: var(--blink-orange);
  background-color: var(--blink-black);
}

a {
  text-decoration: none;
  color: var(--blink-teal);
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
}

a:hover {
  color: var(--blink-teal);
}

button {
  background-color: var(--blink-teal);
  border: 0;
  padding: 1%;
  color: var(--blink-orange);
  font-weight: bold;
  transition: background-color 0.1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: var(--blink-peach);
}

.post-list {
  margin: 0;
  padding: 0;
}

ol {
  list-style-type: none;
}

textarea,
input,
.comment {
  padding: 0.5%;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: block;
  margin: 1rem 0;
  width: 100%;
}

textarea:focus,
input:focus {
  outline: none;
  border: 1px solid var(--blink-peach);
}

textarea {
  min-width: 40%;
  min-height: 100px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  border-bottom: 1px solid var(--blink-peach);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1%;
}

header h1,
footer h1 {
  font-size: 2em;
  font-family: "Permanent Marker", cursive;
  color: var(--blink-teal);
}

header h1 span,
footer h1 span {
  color: var(--blink-orange);
}

nav {
  display: flex;
  justify-content: space-between;
}

main {
  flex: 1;
  padding: 2% 4%;
}

label {
  color: var(--blink-teal);
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: var(--blink-teal);
  font-size: 100%;
  font-weight: bold;
  transition: color 0.1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: var(--blink-peach);
}

.delete-post-btn {
  background-color: #d41414;
  color: var(--blink-teal);
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
}

.post {
  background-color: var(--blink-peach);
  border-radius: 1em;
}

.post .title {
  background-color: var(--blink-orange);
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.post .meta {
  margin-left: 16px;
}

.edit-link {
  margin: -1.5% 0 2% 0;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: var(--blink-peach);
}

.comment .meta {
  font-size: 90%;
  margin-bottom: 0.5%;
  opacity: 0.6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  border-top: 1px solid var(--blink-peach);
  display: flex;
  justify-content: center;
  padding: 1%;
}

footer h1 {
  font-size: 1em;
}
